@charset "UTF-8";
body{
    background: url("img/girl.jpg");
    background-position: center center;background-repeat:no-repeat;background-attachment: fixed;background-size: cover;
    animation-name:myfirst;
    animation-duration:12s;
    animation-delay:2s;
    animation-iteration-count:infinite;
    animation-play-state:running;
    
}
/* @keyframes myfirst */
/* { */
/*     0%   {background:url("img/girl.jpg");background-repeat:no-repeat;background-size: cover;} */
/*     34%  {background:url("img/susu.jpg");background-repeat:no-repeat;background-size: cover;} */
/*     67%  {background:url("img/bai.jpg");background-repeat:no-repeat;background-size: cover;} */
/*     100% {background:url("img/girl.jpg");background-repeat:no-repeat;background-size: cover;} */
/* } */
.form{background: rgba(255,255,255,0.2);width:400px;margin:120px auto;}
.fa{display: inline-block;top: 27px;left: 6px;position: relative;color: #ccc;}
input[type="text"],input[type="password"]{padding-left:26px;}
.checkbox{padding-left:21px;}